body {
    font-family: 'Arial', sans-serif;
}

.hero {
    background: url('../images/mother-teresa.jpg') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    font-weight: bold;
}
